@model auctionwebsite.Models.Cate

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/admin_layout.cshtml";
}
<h3>Bạn có muốn xóa danh mục này hay không</h3>
<div>
    <h4>Cate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Danh mục con
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CateName)
        </dd>
        <dt>
           Danh mục cha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cateparent.CateparentName)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
