@model IEnumerable<auctionwebsite.Models.Cateparent>





<ul id="sideManu" class="nav nav-tabs nav-stacked">
    @foreach (var item in Model)
    {
        <li class="subMenu">
            <a>@item.CateparentName</a>
            <ul style="display:none">
                @foreach (var subcate in item.cates)
                {
                    <li><a href="@Url.Action("Cate","Search",new{ CateID=subcate.CateID})"><i class="icon-chevron-right"></i>@subcate.CateName</a></li>
                }
            </ul>
        </li>
    }
</ul>