@model auctionwebsite.Models.User

@{
    ViewBag.Title = "Xóa tài khoản";
    Layout = "~/Views/Shared/admin_layout.cshtml";
}


<h3>Bạn có muốn xóa tài khoản này hay không</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label" for="inputLnam">Tài khoản  <sup></sup></label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            <label class="control-label" for="inputLnam">Email  <sup></sup></label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại danh sách", "Index")
        </div>
    }
</div>
