
@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/user_layout.cshtml";
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="index.html">Trang chủ</a> <span class="divider">/</span></li>
        <li><a class="active">Tài khoản</a></li>
    </ul>
    </ul>
    <h3>Mua</h3>
    <hr class="soft" />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Chức năng</th>
                <th>Sản phẩm đang theo dõi</th>
                <th>Sản phẩm đang đấu giá</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mua</td>
                <td><button><a href="#">Xem danh sách</a></button></td>
                <td><button><a href="#">Xem danh sách</a></button></td>
            </tr>
        </tbody>
    </table>
    <h3>Bán</h3>
    <hr class="soft" />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Chức năng</th>
                <th>Sản phẩm đang được đấu giá</th>
                <th>Sản phẩm đã bán</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bán</td>
                <td><button><a href="#">Xem danh sách</a></button></td>
                <td><button><a href="#">Xem danh sách</a></button></td>
            </tr>
        </tbody>
    </table>
</div>
</div></div>
</div>
